[Unit]
Description=Manage Cloud 9 Service

[Service]
Type=forking
ExecStart=/opt/workspace/cloud9-service/manage-cloud9.sh start
ExecStop=/opt/workspace/cloud9-service/manage-cloud9.sh stop
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
